<mat-card>
    <mat-card-header>
        <mat-card-title>{{feed.title}}</mat-card-title>
        <mat-card-subtitle>{{feed.media}} {{feed.publisher}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="feed.image" />
    <mat-card-content>
    {{feed.abstract}}
    </mat-card-content>
    <mat-card-actions>
        <a [href]="feed.source" target="_blank" mat-raised-button>Visit source</a>
        <button mat-raised-button (click)="handleClickDetail()">Detail</button>
    </mat-card-actions>
</mat-card>